<launch>
  <node name="execute" pkg="formation_control" type="execute" output="screen"/>
  <node name="View" pkg="supervisor" type="View" output="screen"/>
  <node name="pycopter" pkg="pycopter" type="pycopter" output="screen"/>
  <node name="kalman_filter" pkg="kalman_filter" type="kalman_filter" output="screen"/>
</launch>